.App {
  text-align: center;
}

@media screen and (min-width:320px) and (max-width:430px){

  .appHeader {
    width: 100vw;
    font-size: 8px;
  }

  .menuContainer {
    width: 100%;
    resize: both;
    background: url(../images/appheader.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-bottom: 5vh;
    z-index: 5;
  }

  .headerMenuButton{
    max-width: 80px;
    max-height: 25px;
    font-size: 8px;
    padding: 5px 5px;
    top: 3.7vh;
    left: 30vw;
    z-index: 7;
  }
  .userBox {
    top: 0vh;
    padding: 0px;
    background-color: rgba(39, 61, 85, 0.98);
    position: absolute;
    right: 1vw;
    color: white;
    margin: 10px;
    z-index: 6;
  }

  .taskView {
    margin-top: 5%;
  }

  .taskList {
    height: 43vh;
    text-align: center;
    overflow: hidden scroll;
  }

  .modalView {
    margin: 80px auto;
    position: 'absolute';
    top: 50vh;
    left: 50vw;
    width: 90%;
    height: 80vh;
    background-color: white;
    border: 1px solid rgba(125, 125, 125, 1);
    box-shadow: 24;
    padding: 4px;
  }

  .taskContainer {
    margin: 10px;
    padding-top: 5px;
    border: 2px solid rgba(125, 125, 125, 1);
    border-radius: 10px;
    height: 50vh;
  }
  
  .btn-face,
  .btn-google {
    width: 100%;
  }
  .wrap-login100 {
    padding: 20px 30px 20px 30px;
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
  }
}

@media screen and (min-width:430px) and (max-width:1023px){

  .appHeader {
    background-color: #607d8b;
    border: red 1px;
    width: 100vh;
    height: 1368px;
  }

  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width:1080px){

  .appHeader {
    width: 100vw;
  }

  .menuContainer {
    width: 100%;
    resize: both;
    background: url(../images/appheader.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-bottom: 17vh;
    min-height: 150px;
  }

  .headerMenuButton{
    padding: 5px 5px;
    top: 10vh;
    left: 60vw;
  }

  .userBox {
    top: 9vh;
    padding: 5px;
    background-color: rgba(39, 61, 85, 0.98);
    position: absolute;
    right: 5vw;
    color: white;
    margin: 10px;
  }

  .modalView {
    margin: 80px auto;
    position: 'absolute';
    top: 50vh;
    left: 50vw;
    width: 40%;
    height: 50vh;
    background-color: white;
    border: 2px solid rgba(125, 125, 125, 1);
    box-shadow: 24;
    padding: 15px;
  }

  .taskView {
    margin-top: 1%;
  }

  .taskList {
    height: 50vh;
    text-align: center;
    overflow: hidden scroll;
  }

  .taskContainer {
    margin: 1px;
    padding-top: 5px;
    border: 2px solid rgba(125, 125, 125, 1);
    border-radius: 10px;
    min-height: 520px;
  }

  .wrap-login100 {
  padding: 62px 110px 33px 110px;
  width: 680px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
}

.card{
  position: relative;
  top: 160px;  
  right: 1213px; 
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

.taskContainer {
  margin: 10px;
  padding-top: 5px;
  border: 2px solid rgba(125, 125, 125, 1);
  border-radius: 10px;
  height: 50vh;
}


.fixedTasks{
  background-color: #607d8b;
}

.sprintTasks{
  background-color: #90a4ae;
}

.gridText {
  font-size: 12px !important;
}

.logCard {
  background-color: rgb(170, 187, 187);
}

.logCardGrid {
  background-color: rgb(195, 238, 236);
}

.logCardHolder {
  height: 340px;
  max-height: 340px;
  overflow: scroll;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}

.wrap-login100 {
  width: 680px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.loginBackground {
  background-image: url('../images/bg-01.jpg');
}
.spinnerBox{
  z-index: 1000;
  backdrop-filter: blur(3px);
  background-color:'rgba(0,0,30,0.4)';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-size: cover;
  box-shadow: 24;
}

.spinner{
  position: relative;
  top: 50%;
  left: 50%;
}